@using TechStore.Constants;
@model IEnumerable<TechStore.Models.OrderStatus>

@{
 Layout = "_AdminLayout";
    ViewData["Title"] = "OrderStatus";
}

<h2>OrderStatus</h2>

 @if (User.IsInRole(Roles.Admin.ToString()))
    {
      <a asp-action="Create" class="btn btn-primary my-2">Add New OrderStatus</a>
    }

@if (Model?.Count() > 0)
{
    <table class="table table-striped my-2">
        <thead>
            <tr>
                <th>OrderStatus</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td>@brand.StatusName</td>
                    <td>@brand.Description</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@brand.Id" class="btn btn-info btn-sm">Details</a>
                        @if (User.IsInRole(Roles.Admin.ToString()))
                        {
                            <a asp-action="Edit" asp-route-id="@brand.Id" class="btn btn-success btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@brand.Id" class="btn btn-danger btn-sm" onclick="return window.confirm('Are you sure?')">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No OrderStatus available</h3>
}
