@using TechStore.Models.DTOs
@model ProductDisplayModel
@{
   
}
<div class="my-2">
        <form  asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
 

  <div class="col-12">
            <label class="visually-hidden" for="brandId">Brands</label>
            <select class="form-select" id="brandId" name="brandId">
      <option selected>Choose brand...</option>
                @foreach (var brand in Model.Brands)
                {
                    <option selected="@(brand.Id == Model.BrandId)" value="@brand.Id">@brand.Name</option>
                }
    </select>
  </div>

  @* <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
      <label class="form-check-label" for="inlineFormCheck">
        Remember me
      </label>
    </div>
  </div> *@
        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search">
            </div>
        </div>
  <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
</form>
   
</div>
<div class="w-100 mt-4 d-flex flex-wrap ">
  @foreach (var products in Model.Products)
    {
        <div class="card mx-2 mb-4" style="width: 16rem;">
            @if (string.IsNullOrEmpty(products.Image))
            {
                <img style="width:100%;height:300px" src="/images/NoImage.png" class="card-img-top" alt="...">
            }
            else {
                <img style="width:100%;height:300px" src="/images/@products.Image" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title">@products.ProductName</h5>
                <p class="card-text">
                    Category:@products.Category
                    </p>

                <p>  Price:@products.Price </p>
                <p>
                    Brand:@products.BrandName
                </p>
                
               <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
        }
</div>