@model IEnumerable<TechStore.Models.AuditLog>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Audit Logs";
}

<h2>Audit Logs</h2>
<div class="d-flex justify-content-end" style="margin-bottom:5px">
    <form method="post" action="@Url.Action("DeleteAll")">
        <button type="submit" class="btn btn-danger">Delete All Logs</button>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Veprimi</th>
            <th>Entiteti</th>
            <th>ID i Entitetit</th>
            <th>Kryer nga</th>
            <th>Koha e Kryerjes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.Action</td>
                <td>@log.Entity</td>
                <td>@log.EntityId</td>
                <td>@log.PerformedBy</td>
                <td>@log.PerformedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>



<div class="pagination d-flex justify-content-end align-items-center mt-3">
    @if (ViewBag.CurrentPage > 1)
    {
        <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)" class="btn btn-primary pagination-btn">Previous</a>
    }

    <span class="pagination-info mx-2">Page @ViewBag.CurrentPage of @ViewBag.TotalPages</span>

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)" class="btn btn-primary pagination-btn">Next</a>
    }
</div>
